body::after {
    content: "";
    background: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    opacity: 0.6;
  }
  
  #bg-cooking {
    position: absolute;
    top: 0;
    left: 0;
    width: 98.5vw;
    min-width: 50%;
    z-index: -2;
  }

.texto-sobre-container {
    max-width: 75%;
    margin-top: 60px;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .texto-sobre-container h2{
    text-align: center;
  }
  
  .texto-sobre-container p{
    
  }
  
  .texto-sobre-container img{
    display: block;
    width: 24%;
    margin: 0 auto;
  }

  @media screen and (max-width: 320px) {
    .texto-sobre-container img{
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  
  }

  @media screen and (min-width: 321px) and (max-width: 430px) {
    .texto-sobre-container img{
      display: block;
      width: 40%;
      margin: 0 auto;
    }
  
  }