body {
  font-family: "Mina", sans-serif;
  background-color: #ebebeb;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #ff4141;
  margin-top: 30px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: #fff;
  padding: 5px;
}

.texto-footer {
  padding: 15px;
  margin: 0;
}

#img-logo {
  max-width: 48px;
  max-height: 48px;
  width: auto;
  height: auto;
}
