body::after {
  content: "";
  background: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  opacity: 0.6;
}

#bg-cooking {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5vw;
  min-width: 50%;
  z-index: -2;
}

.texto-lateral-container {
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5rem;
}

.texto-lateral {
  color: #fff;
  font-weight: 700;
  font-size: 3.5rem;
  
}

.receitas-que-gosta-container {
  max-width: 75%;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
}

.texto-receita-gosta {
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  
  .texto-lateral {
    font-size: 2.2rem;
    margin-left: 50px;
  }

  .texto-receita-gosta {
    font-size: 1.5rem;
  }

  .texto-lateral-container {
    width: 100%;
    padding-top: 50px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2.5rem;
       
  }
}

@media screen and (max-width: 430px) {
  #bg-cooking {
    display: none;
  }

  .texto-lateral {
    font-size: 1.6rem;
    margin: 0px;
  }
}

@media screen and (max-width: 280px) {
  .texto-lateral {
    font-size: 1.2rem;
    margin: 0px;
  }

  .texto-receita-gosta {
    font-size: 1.2rem;
  }

  .texto-lateral-container {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2.5rem;
    margin-top: 50px;
       
  }
}