body::after {
  content: "";
  background: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  opacity: 0.6;
}

#bg-cooking {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.texto-lateral-container {
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5rem;
}

.texto-lateral {
  color: #fff;
  font-weight: 700;
  font-size: 3.5rem;
  
}

.receitas-que-gosta-container {
  max-width: 75%;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
}

.texto-receita-gosta {
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.texto-sobre-container {
  max-width: 75%;
  margin-top: 60px;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
}

.texto-sobre-container h2{
  text-align: center;
}

.texto-sobre-container p{
  
}