.js-main-container {
  max-width: 80%;
  padding-top: 5rem;
  min-height: 100vh;
  
}

.js-titulo {
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #000;
}

h2 {
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

#footer-receitas {
  width: 100%;
  position: relative;
  bottom: 0;
}